<!DOCTYPE html>
<html>
  <head>
    <title>airtel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../style/css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <style>
    .btw_line {
      border-right: 1px solid;
      border-color: #bfc0bf; 
      height: 78px; 
      position: absolute; 
      left: 80px; 
      width: 0; 
      margin-top: 8px;
    }
  </style>


  <body oncontextmenu="return false">
    <div class="container">
      <div class="row">

        <!-- header image -->
        <div class="col-12 heading_div">
          <img class="logo" src="../images/main_logo.svg" />
        </div>

        <!-- navigation -->
        <div class="col-12 heading_div2">
          <div class="row">
            <div class="col-2" style="text-align: left;">
              <a href="../index.html" target="_parent"
                ><img
                  class="icon_size homeiconImg"
                  src="../images/homeIcon.png"
              /></a>
            </div>

            <div class="col-8 icontext">
              <span>All Products & Services</span>
            </div>

            <div class="col-2" style="text-align: end;">
              <a href="../views/allCategorylLst.html" target="_parent"
                ><img
                  class="icon_size"
                  src="../images/backIcon.png"
              /></a>
            </div>
          </div>
        </div>

        <!-- 1st btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">

          <a href="non_fs_prod/DigiOnb.html" target="_parent">
            <div class="row border_div cardHover">

              <div class="col-3 col-lg-4 col-sm-2 col-md-2">
                <img class="image" src="../images/digital_onboarding.png" />
              </div>

              <div class="btw_line"></div>

              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Digital Onboarding</p>
              </div>

            </div>
          </a>

        </div>

        <!-- 2nd btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/oba.html" target="_parent">
            <div class="row border_div cardHover">

              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/digital_onboarding.png" />
              </div>

              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/oba.png" />
              </div> -->

              <div class="btw_line"></div>

              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Open Bank Account (SBA)</p>
              </div>

            </div>
          </a>
        </div>

        <!-- 3rd btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/cw.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/cashW.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/cw.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Cash Withdrawal</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 4th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/cd.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/cashD.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/cd.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Cash Deposit</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 5th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/sm.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/sendMoney.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/sm.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Send Money(DMT)</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 6th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/cashdrop.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/cashD-P.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/cms.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Cash Drop/Pickup</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 7th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/aeps.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/aeps.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/aeps.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">AePS</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 8th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/gprs.html" class="btn-signup" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/googlePlay.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/gprc.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text"><b>GPRC</b> - Google Play Recharge Code</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 9th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style"  style="position: relative;">
          <a href="non_fs_prod/utility_eng.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/utility.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/ut.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Utility</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 10th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style"  style="position: relative;">
          <a href="non_fs_prod/rch.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/utility.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/ut.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Recharge</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 11th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style"  style="position: relative;">
          <a href="non_fs_prod/ft.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/fastTag.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/ft.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">FASTag</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 12th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style"  style="position: relative;">
          <a href="non_fs_prod/r123.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/rewards123.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/r123.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Rewards123</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 13th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style"  style="position: relative;">
          <a href="non_fs_prod/vkyc.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/videoKYC.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/vkyc.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">V-KYC</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 14th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style"  style="position: relative;">
          <a href="non_fs_prod/prime.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/prime.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/prime.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Prime Ratna</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 15th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/dbt.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/dbtLink.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/alink.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">DBT Linking</p>
              </div>
            </div>
          </a>
        </div>

        <!-- 16th btn -->
        <div class="col-sm-12 col-md-12 col-lg-4 box_style" style="position: relative;">
          <a href="non_fs_prod/ptb.html" target="_parent">
            <div class="row border_div cardHover">
              <div class="col-3 col-lg-4 col-sm-2 col-md-2 ok">
                <img class="image" src="../images/payThruBank.png" />
              </div>
              <!-- <div class="col-3 col-lg-4 col-sm-2 col-md-2 showme">
                <img class="image" src="image/icn/ptb.png" />
              </div> -->
              <div class="btw_line"></div>
              <div class="col-9 col-lg-8 col-sm-10 col-md-10">
                <p class="para_text">Pay thru Bank</p>
              </div>
            </div>
          </a>
        </div>


      </div>
    </div>

    <br />
    <br />
    
</body>


  
</html>
