<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <body oncontextmenu="return false" style="background-color: #f7f7f7;">

        <br /><br />

        <div align="center">
            <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 12px;">
        </div><br /><br />

        <div align="center">
            <p style="font-size: 21px; padding: 10px; color: white; background-color: #ef4729;"><b>Component of DTH</b></p>
        </div><br />


        <div style="text-align: center;">
            <a href="../views/reflector.html" class="eng-btn-signup button">Reflector Assembly</a><br /><br />
            <a href="../views/LNBF.html" class="eng-btn-signup button">LNBF</a><br /><br />
            <a href="../views/satelliteTrack.html" class="eng-btn-signup button">Satellite Tracking</a><br /><br />
            <a href="../views/remote.html" class="eng-btn-signup button">Remote Pairing</a><br /><br />
            <a href="../views/connector_cable.html" class="eng-btn-signup button">Connector / Cable</a><br /><br />
            <a href="../views/signalParameter.html" class="eng-btn-signup button">Signal Parameter</a><br /><br />
            <a href="../views/auditParam.html" class="eng-btn-signup button">Audit Parameter</a><br /><br />

            <br /><br /><br />
            
        </div>
    </body>

</html>