<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <script>
        window.onload = (event) => {
           if(Boolean(localStorage.getItem("authorized"))){}  
           else{
                var location =  window.location.href;
                window.location.href = location.replace("views/dishD2hCatalog.html", "index.html");
            }          
        };
    </script>

    <body oncontextmenu="return false" style="background-color: #ffffff;">

        <div style="width: 100%; display: flex; justify-content: center;">
            <div align="center" class="title">
                <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 25px; padding: 15px;">
            </div>
        </div>

        <div style="width: 100%; display: flex; justify-content: center; border-top: 1px solid white; height: 60px; margin-bottom: 3%;">
            <div class="navControls" style="display: flex; justify-content: start;" >
                <a href="./home.html"> <img src="../images/homeIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
            
            <div class="navTitle" style="display: flex; justify-content: center;">
                <h1 style="font-size: 20px; padding: 10px; color: white; background-color: #7b4897;"><b>DISH / D2H</b></h1>
            </div>
            
            <div class="navControls" style=" display: flex; justify-content: end;">
                <a href="./home.html"> <img src="../images/backIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
        </div>
        <br />

        <div style="text-align: center;">
            <!-- <a href="../views/typeOfConn.html" class="eng-btn-signup button">Type of Connection</a><br /><br /> -->
            <a href="./componentD2H.html" class="eng-btn-signup button">Component of DTH</a><br /><br />
            <a href="../views/firstTimeActive.html" class="eng-btn-signup button">Box 1st Time Activation</a><br /><br />
            <a href="../views/swapGuide.html" class="eng-btn-signup button">Swaping Guideline</a><br /><br />
            <a href="../views/perfectInstall.html" class="eng-btn-signup button">Perfect Installation</a><br /><br />
            <a href="../views/errorCode.html" class="eng-btn-signup button">Error Code</a><br /><br />
            <a href="../views/tools.html" class="eng-btn-signup button">Tools</a><br /><br />
            <a href="../views/sparePartPrice.html" class="eng-btn-signup button">Spare Part Price</a><br /><br />

            <br /><br /><br />
            
        </div>

    </body>

</html>