 <!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <body oncontextmenu="return false" style="background-color: #ffffff;">
        <div style="width: 100%; display: flex; justify-content: center;">
            <div align="center" class="title">
                <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 25px; padding: 15px;">
            </div>
        </div>

        <div style="width: 100%; display: flex; justify-content: center; border-top: 1px solid white; height: 60px; margin-bottom: 3%;">
            <div class="navControls" style="display: flex; justify-content: start;" >
                <a href="../index.html"> <img src="../images/homeIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
            
            <div class="navTitle" style="display: flex; justify-content: center;">
                <h1 style="font-size: 20px; padding: 10px; color: white; background-color: #7b4897;"><b>Error Code</b></h1>
            </div>
            
            <div class="navControls" style=" display: flex; justify-content: end;">
                <a href="../views/dishD2hCatalog.html"> <img src="../images/backIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
        </div>
        <br />


        <div style="text-align: center;">
            <a href="./errorCode/301.html" class="eng-btn-signup button">301 Signal not available</a><br /><br />
            <a href="./errorCode/303.html" class="eng-btn-signup button">303 Channel scan error</a><br /><br />
            <a href="./errorCode/102.html" class="eng-btn-signup button">102 Low account balance</a><br /><br />
            <a href="./errorCode/101.html" class="eng-btn-signup button">101 Channel not subscribe </a><br /><br />
            <a href="./errorCode/201.html" class="eng-btn-signup button">201 Viewing card error</a><br /><br />
            <a href="./errorCode/blueBlackScreen.html" class="eng-btn-signup button">Blue black screen</a><br /><br />
            <a href="./errorCode/autoRestart.html" class="eng-btn-signup button">Auto Restart</a><br /><br />
            <a href="./errorCode/noPower.html" class="eng-btn-signup button">No Power / Dead</a><br /><br />

        </div>
        
        <br /><br /><br />

    </body>

</html>