 <!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <body oncontextmenu="return false" style="background-color: #ffffff;">

        <br /><br />

        <div align="center">
            <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 12px;">
        </div><br /><br />

        <div align="center">
            <p style="font-size: 21px; padding: 10px; color: white; background-color: #ef4729;"><b>Error Code</b></p>
        </div><br />


        <div style="text-align: center;">
            <a href="./errorCode/301.html" class="eng-btn-signup button">301 Signal not available</a><br /><br />
            <a href="./errorCode/303.html" class="eng-btn-signup button">303 Channel scan error</a><br /><br />
            <a href="./errorCode/102.html" class="eng-btn-signup button">102 Low account balance</a><br /><br />
            <a href="./errorCode/101.html" class="eng-btn-signup button">101 Channel not subscribe </a><br /><br />
            <a href="./errorCode/201.html" class="eng-btn-signup button">201 Viewing card error</a><br /><br />
            <a href="./errorCode/blueBlackScreen.html" class="eng-btn-signup button">Blue black screen</a><br /><br />
            <a href="./errorCode/autoRestart.html" class="eng-btn-signup button">Auto Restart</a><br /><br />
            <a href="./errorCode/noPower.html" class="eng-btn-signup button">No Power / Dead</a><br /><br />

        </div>
        
        <br /><br /><br />

    </body>

</html>