<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <body oncontextmenu="return false" style="background-color: #f7f7f7;">

        <br /><br />

        <div align="center">
            <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 12px;">
        </div><br /><br />

        <div align="center">
            <p style="font-size: 21px; padding: 10px; color: white; background-color: #ef4729;"><b>Perfect Installation</b></p>
        </div><br />

        <div>
            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #f7f7f7;">
                        <a href="../images/perfectInstall/perfectInstall.png" target="_blank">
                            <img src="../images/perfectInstall/perfectInstall.png" width="50%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>

        </div>
            
        <br/><br/><br/><br/>
    </body>

</html>