<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <body oncontextmenu="return false" style="background-color: #ffffff;">

        <div style="width: 100%; display: flex; justify-content: center;">
            <div align="center" class="title">
                <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 25px; padding: 15px;">
            </div>
        </div>

        <div style="width: 100%; display: flex; justify-content: center; border-top: 1px solid white; height: 60px; margin-bottom: 3%;">
            <div class="navControls" style="display: flex; justify-content: start;" >
                <a href="../views/dishD2hCatalog.html"> <img src="../images/homeIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
            
            <div class="navTitle" style="display: flex; justify-content: center;">
                <h1 style="font-size: 20px; padding: 10px; color: white; background-color: #7b4897;"><b>Reflector Assembly</b></h1>
            </div>
            
            <div class="navControls" style=" display: flex; justify-content: end;">
                <a href="../views/componentD2H.html"> <img src="../images/backIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
        </div>
        <br />

        <div>
            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/1.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/2.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/3.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/4.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/5.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/6.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/7.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/8.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div style="background-color: #ffffff;">
                        <img src="../images/componentDTH/reflector/9.png" width="70%" style="border: 1px solid #939393;" class="imgSize">
                    </div>
                </div>
            </span>
            <br/>
        </div>
            
        <br/>

        <div style="display: flex; justify-content: center;" class="videosHeading">       
            <div style="width: 70%;">
                <h5 style="color: #ef4729; font-size: 23px;">Watch Video:</h5>
            </div>
        </div>

        <div style="display: flex; align-items: center; flex-direction: column;">
            <br/>
            <div>
                <iframe width="340" height="200" src="https://www.youtube.com/embed/49Pj2uQLKOk?si=HNAqdY2KJTqR-w5o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <br/><br/><br/>
    </body>

</html>