<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <style>
        .btw_line {
          border-right: 15px solid;
          border-color: #bfc0bf; 
          height: 78px; 
          position: absolute; 
          left: 80px; 
          width: 0; 
          margin-top: 8px;
        }
      </style>

    <body oncontextmenu="return false" style="background-color: #f7f7f7;">

        <br /><br />

        <div align="center">
            <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 12px;">
        </div><br /><br />

        <div align="center">
            <p style="font-size: 21px; padding: 10px; color: white; background-color: #ef4729;"><b>Remote</b></p>
        </div><br />

        <div style="margin-top: 3%;">
            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="background-color: #ef4729; color: white; width: 70%; text-align: center; font-weight: bold;">
                    <p style="margin: 0.8%;">Universal Remote</p>

                    <!-- content images -->
                    <div style="background-color: #f7f7f7; padding-top: 2%;">
                        <a href="../images/componentDTH/remote/universal_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_1.png" width="21%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_2.png" width="21%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_3.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_3.png" width="21%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_4.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_4.png" width="21%" style="border: 1px solid black;">          
                        </a>
                        
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center; margin-top: 3%;">
                <div style="background-color: #ef4729; color: white; width: 70%; text-align: center; font-weight: bold;">
                    <p style="margin: 0.8%;">Universal IR Remote</p>

                    <!-- content images -->
                    <div style="background-color: #f7f7f7; padding-top: 2%;">
                        <a href="../images/componentDTH/remote/univIR_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/univIR_1.png" width="21%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/univIR_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/univIR_2.png" width="21%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center; margin-top: 3%;">
                <div style="background-color: #ef4729; color: white; width: 70%; text-align: center; font-weight: bold;">
                    <p style="margin: 0.8%;">RF Remote</p>

                    <!-- content images -->
                    <div style="background-color: #f7f7f7; padding-top: 2%;">
                        <a href="../images/componentDTH/remote/RF_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/RF_1.png" width="21%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/RF_2.png" width="21%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center; margin-top: 3%;">
                <div style="background-color: #ef4729; color: white; width: 70%; text-align: center; font-weight: bold;">
                    <p style="margin: 0.8%;">Android Remote</p>

                    <!-- content images -->
                    <div style="background-color: #f7f7f7; padding-top: 2%;">
                        
                    </div>
                </div>
            </span>
            <br/>
            
        </div>
            
        <br/><br/><br/><br/>
    </body>

</html>