<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <style>
        .hideScrollbar::-webkit-scrollbar {
            display: none;
        }
    </style>
    
    <body oncontextmenu="return false" style="background-color: #ffffff;">
        <div style="width: 100%; display: flex; justify-content: center;">
            <div align="center" class="title">
                <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 25px; padding: 15px;">
            </div>
        </div>

        <div style="width: 100%; display: flex; justify-content: center; border-top: 1px solid white; height: 60px; margin-bottom: 3%;">
            <div class="navControls" style="display: flex; justify-content: start;" >
                <a href="../views/dishD2hCatalog.html"> <img src="../images/homeIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
            
            <div class="navTitle" style="display: flex; justify-content: center;">
                <h1 style="font-size: 20px; padding: 10px; color: white; background-color: #7b4897;"><b>Remote Pairing</b></h1>
            </div>
            
            <div class="navControls" style=" display: flex; justify-content: end;">
                <a href="../views/componentD2H.html"> <img src="../images/backIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
        </div>
        <br />

        <div style="margin-top: 3%;">
            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="background-color: #ef4729; color: white; text-align: center; font-weight: bold;" class="imgTitles">
                    <p style="margin: 0.8%;" class="sectionHeadings">Universal Remote</p>

                    <!-- content images -->
                    <div class="hideScrollbar" style="background-color: #ffffff; padding-top: 2%; overflow: auto; white-space: nowrap;  padding: 10px;">
                        <a href="../images/componentDTH/remote/universal_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_1.png" width="30%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_2.png" width="30%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_3.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_3.png" width="30%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_4.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/universal_4.png" width="30%" style="border: 1px solid black;">          
                        </a>
                        
                    </div>
                </div>
            </span>
            <br/>

            <div style="display: flex; justify-content: center;" class="videosHeading">       
                <div style="width: 70%;">
                    <h5 style="color: #ef4729; font-size: 23px;">Watch Video:</h5>
                </div>
            </div>
    
            <div style="display: flex; align-items: center; flex-direction: column;">
                <br/>
                <div>
                    <iframe width="340" height="200" src="https://www.youtube.com/embed/QO7X0x0S6lE?si=L7C5z1XdFWwd4vAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
    
            <br/>


            <span style="width: 100%; display: flex; justify-content: center; margin-top: 3%;" class="sectionsGap">
                <div style="background-color: #ef4729; color: white; text-align: center; font-weight: bold;" class="imgTitles">
                    <p style="margin: 0.8%;" class="sectionHeadings">Universal IR Remote</p>

                    <!-- content images -->
                    <div style="background-color: #ffffff; padding-top: 2%;">
                        <a href="../images/componentDTH/remote/univIR_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/univIR_1.png" width="30%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/univIR_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/univIR_2.png" width="30%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>

            <span style="width: 100%; display: flex; justify-content: center; margin-top: 3%;" class="sectionsGap">
                <div style="background-color: #ef4729; color: white; text-align: center; font-weight: bold;" class="imgTitles">
                    <p style="margin: 0.8%;" class="sectionHeadings">RF Remote</p>

                    <div style="background-color: #ffffff; padding-top: 2%;">
                        <a href="../images/componentDTH/remote/RF_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/RF_1.png" width="30%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/universal_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/RF_2.png" width="30%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>

            <div style="display: flex; justify-content: center;" class="videosHeading">       
                <div style="width: 70%;">
                    <h5 style="color: #ef4729; font-size: 23px;">Watch Video:</h5>
                </div>
            </div>
    
            <div style="display: flex; align-items: center; flex-direction: column;">

                <br/>
                <div>
                    <iframe width="340" height="200" src="https://www.youtube.com/embed/yTiyiWfAMHY?si=q6x637EjTutNkLe9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
    
            <br/>


            <span style="width: 100%; display: flex; justify-content: center; margin-top: 3%;" class="sectionsGap">
                <div style="background-color: #ef4729; color: white; text-align: center; font-weight: bold;" class="imgTitles">
                    <p style="margin: 0.8%;" class="sectionHeadings">Android Remote</p>

                    <div style="background-color: #ffffff; padding-top: 2%;">
                        <a href="../images/componentDTH/remote/android_1.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/android_1.png" width="30%" style="border: 1px solid black;">          
                        </a>

                        <a href="../images/componentDTH/remote/android_2.png" target="_blank" style="margin: 1%;">
                            <img src="../images/componentDTH/remote/android_2.png" width="30%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>
            
        </div>
            
        <br/><br/><br/><br/>
    </body>

</html>