<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <title>Service Training</title>
    </head>

    <body oncontextmenu="return false" style="background-color: #ffffff;">

        <div style="width: 100%; display: flex; justify-content: center;">
            <div align="center" style="background-color: #7b4897; width: 70%;">
                <img src="../images/d2h/WhatsApp Image 2023-10-28 at 2.29.15 PM.jpeg"  height="65" style="border-radius: 25px; padding: 15px;">
            </div>
        </div>

        <div style="width: 100%; display: flex; justify-content: center; border-top: 1px solid white; height: 60px; margin-bottom: 3%;">
            <div style="width: 10%; background-color: #7b4897; display: flex; justify-content: start;" >
                <a href="../index.html"> <img src="../images/homeIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
            
            <div style="width: 50%; background-color: #7b4897; display: flex; justify-content: center;">
                <h1 style="font-size: 20px; padding: 10px; color: white; background-color: #7b4897;"><b>Watcho Plans</b></h1>
            </div>
            
            <div style="width: 10%; background-color: #7b4897; display: flex; justify-content: end;">
                <a href="../index.html"> <img src="../images/backIcon.png" height="40" style="margin: 10px;"> </a>
            </div>
        </div>
        <br />

        <div>
            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div>
                        <a href="../images/watcho/2.jpeg" target="_blank">
                            <img src="../images/watcho/2.jpeg" width="50%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>
            <br/>
            <span style="width: 100%; display: flex; justify-content: center;">
                <div style="width: 70%; text-align: center; font-weight: bold;">
                    <!-- content images -->
                    <div>
                        <a href="../images/watcho/1.jpeg" target="_blank">
                            <img src="../images/watcho/1.jpeg" width="50%" style="border: 1px solid black;">          
                        </a>
                    </div>
                </div>
            </span>

            <br/>
	
            <div style="display: flex; justify-content:center; margin-top: 2%; margin-bottom: 1%;">
                <a style="background-color: #ef4729; padding: 10px; border-radius: 30px; width: 27%; text-align: center; color:white;" href="https://plans-offers.watcho.com/plans" target="_blank">Click here to Choose Watcho Flexi Plan</a>
            </div>

            <div style="display: flex; justify-content: center;">       
                <div style="width: 70%;">
                    <h5 style="color: #ef4729; font-size: 23px;">Watch Video:</h5>
                </div>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                
                <div style="width: 70%;">
                    <p style="font-size: 21px; padding: 2px; color: white; background-color: #ef4729; text-align: center;"><b>Watcho Plans</b></p>

                </div>
                <br/>
                <div>
                    <iframe width="280" height="157" src="https://www.youtube.com/embed/oKNWV70R628?si=ANBv2f_m15x0SzGv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            
            <br />
        </div>
            
        <br/><br/><br/><br/>
    </body>

</html>